@media screen and (max-width: 1477px) {
    .main-container .sort .sorting {
        margin-left: 0;
    }
}

@media screen and (max-width: 1373px) {

    nav .navbar .left,
    nav .navbar .right {
        gap: 15px;
    }

}

@media screen and (max-width: 1195px) {
    nav .navbar .right {
        display: none;
    }

    .main-container .sort .how {
        display: none;
    }

    nav .navbar .left {
        width: 100%;
        justify-content: space-between;
    }

    .main-container .filter-container .filter {
        width: 270px;
    }

    .main-container .filter-container .filter .input,
    .main-container .filter-container .filter .price {
        width: 100%;
    }

    .main-container .sort .sorting {
        gap: 5px;
    }

    .main-container .article,
    .main-container .sort,
    .main-container .filter-container,
    nav .navbar,
    header .header {
        width: 87%;
    }

}

@media screen and (max-width: 768px) {
    nav .navbar .right {
        display: none;
    }

    nav .navbar .left {
        width: 100%;
        justify-content: space-between;
    }

    .main-container .filter-container .filter {
        width: 270px;
    }

    .main-container .filter-container .filter .input,
    .main-container .filter-container .filter .price {
        width: 100%;
    }

    .main-container .sort .sorting {
        gap: 5px;
    }

    .main-container .article,
    .main-container .sort,
    .main-container .filter-container,
    nav .navbar,
    header .header {
        width: 95%;
    }

}

@media screen and (max-width: 682px) {
    header .header .buttons .flag {
        display: none;
    }

    header .header .buttons .account .down,
    .name,
    nav .navbar,
    .main-container .sort,
    .main-container .filter-container .filter,
    nav {
        display: none;
    }

    nav {
        height: auto;
    }

    nav .navbar .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 300px;
        padding: 15px 0;
    }

    header .header .burger {
        display: flex;
        align-content: center;
        width: 16px;
        height: 14px;
        border: none;
        background-color: white;
        margin-top: 8px;
        padding: 0 25px;
    }

    header .header .burger img {
        width: 20px;
        height: 20px;
    }

    header .header .logo {
        display: flex;
        align-items: center;
    }

    header .header .buttons .account {
        width: 50px;
    }

    header .header .buttons {
        margin-right: 30px;
    }

    .main-container .article h1 {
        font-size: 25px;
        width: 450px;
        display: flex;
        justify-content: center;
    }

    .main-container .mobile-nav {
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }

    .main-container .mobile-nav button {
        width: 168px;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 11px;
        background-color: white;
        border: 1px solid rgb(229, 229, 237);
        border-radius: 10px;
        font-size: 16px;
        font-family: TKT;
    }

    .main-container .sort .sorting {
        display: flex;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
        background-color: white;
        width: 212px;
        margin: -40px 0 22px 0px;
        float: right;
    }

    .main-container .filter-container {
        width: 100%;
    }

    .main-container .filter-container .filter {
        margin-top: -393px;
        width: 100%;
    }

    .main-container .filter-container .filter .mob-sort {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 150px;
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
    }

    .main-container .filter-container .filter .mob-search {
        display: flex;
        width: 100%;
        height: 80px;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }

    .main-container .filter-container .filter .mob-search button {
        width: 90%;
        height: 100%;
        background-color: #003333;
        color: white;
        border-radius: 10px;
        letter-spacing: 1px;

    }

    .main-container .filter-container .filter .mob-search button h1 {
        font-size: 27px;
        font-family: 'TKT';
    }

    .main-container .filter-container .domains .items .right #rise {
        transform: translate(26px, 0px);
    }


}

@media screen and (max-width: 460px) {

    header,
    header .header {
        width: 100%;
    }

    header .header .burger img {
        width: 20px;
        height: 16px;
    }

    header .header .logo img {
        width: 120px;
        height: 20px;
    }

    header .header .buttons button {
        width: 20px;
        height: 20px;
        background-color: white;
        border: none;
    }

    .main-container .mobile-nav button {
        font-size: 16px;
        width: 161px;
    }

    header .header .burger {
        margin-top: 0;
    }

    .main-container .article {
        width: 100%;
        height: 120px;
        border-radius: 0;
        margin-top: -31px;
        background-position: left;
    }

    .main-container .article h1 {
        font-size: 21px;
        font-family: 'TKT';
        width: 200px;
    }

    .main-container .filter-container .domains .items .right {
        padding-right: 10px;
        gap: 16px;
    }

    .main-container .filter-container .filter .mob-search {
        height: 62px;
    }

    .main-container .filter-container .filter .mob-search button h1 {
        font-size: 21px;
    }

    .main-container .filter-container .filter {
        margin-top: -298px;
    }

    .main-container .sort .sorting {
        width: 180px;
    }
}


@media screen and (max-width: 376px) {

    header,
    header .header {
        width: 100%;
    }


    header .header .burger img {
        width: 16px;
        height: 10px;
    }

    header .header .logo img {
        width: 120px;
        height: 20px;
        margin: 0 62px 0 0;
    }


    header .header .buttons button {
        width: 16px;
        height: 20px;
        background-color: white;
        border: none;
        transform: translateX(-20px);
    }

    header .header .buttons .account {
        width: 45px;
    }


    .main-container .article {
        width: 375px;
        height: 120px;
        background-image: url(assets/mobile.png);
        border-radius: 0;
        margin-top: -31px;
    }

    .main-container .article h1 {
        font-size: 20px;
        width: 174px;
    }

    .main-container .mobile-nav button {
        width: 160px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        background-color: white;
        border: 1px solid #E5E5ED;
        border-radius: 10px;
        font-size: 16px;
    }

    .main-container .mobile-nav #mob-sort img {
        width: 20px;
    }

    .main-container .filter-container {
        width: 375px;
    }

    .main-container .filter-container .filter {
        margin-top: -276px
    }

    .main-container .filter-container .filter .mob-sort {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 150px;
        padding-bottom: 15px;
        border-bottom: 1px solid gray;
    }

    .main-container .filter-container .filter .mob-sort h1 {
        font-size: 16px;
        font-family: 'TKT';
        color: #696974;
    }

    .main-container .filter-container .filter .mob-sort button {
        width: 36px;
        height: 36px;
        background: none;
        border: none;
    }

    .main-container .filter-container .filter .mob-search {
        display: flex;
        width: 375px;
        height: 50px;
        margin-top: 30px;
    }

    .main-container .filter-container .filter .mob-search button {
        width: 88%;
        background-color: #003333;
        color: white;
        border-radius: 10px;
        letter-spacing: 1px;
    }

    .main-container .filter-container .filter .mob-search button h1 {
        font-size: 16px;
    }


    .main-container .filter-container .domains .items .right #rise {
        width: 69px;
        margin: 0 -48px 0px -7px;
        transform: translate(0px, 0px);
    }


    .main-container .filter-container .domains .items .right button {
        margin: 0 -32px 0 24px;
    }

    header .header .buttons .basket {
        transform: translate(71px, -10px);
    }

    header .header .buttons {
        width: 143px;
    }

    .main-container .filter-container .domains .items .left {
        margin: 0 0 0 -32px
    }

    .main-container .filter-container .domains {
        width: 375px;
    }

    .main-container .filter-container .domains .items .right {
        padding-right: 45px;
    }

    .main-container .sort .sorting {
        width: 160px;
    }

}